@import "colors.css";
@import "fonts.css";

:root{
  --header-padding: 24px;
}

*{
  font-family: var(--standard);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  color: var(--white);
}

header{
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--header-padding);
  color: var(--black);
  font-weight: bold;
  font-family: var(--header);
  z-index: 1;
}

header, .pagination {
  position: fixed;
}

section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--green);
  opacity: 0;
  padding: 0 calc(48px * 2 + 16px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section:nth-child(odd){
  background: var(--blue);
}

section:first-of-type{
  opacity: 1;
}

.text-container h2{
  font-family: var(--header);
  font-size: 72px;
  line-height: 1.6;
  position: relative;
}

.text-container h2 span {
  margin-right: 12px;
}

.text-container{
  display: block;
  width: 40%;
  height: fit-content;
}

.text-container p{
    font-size: 24px;
    line-height: 1.6;
}

.text-container p:not(:last-of-type){
  margin-bottom: 24px;
}

.image-container{
    width: 40%;
    max-width: 100%;
}

.image-container img{
    width: 100%;
    box-shadow: 0 12px 36px 2px rgba(0,0,0,0.75);
}


nav{
  bottom: 48px;
  left: 48px;
}

nav li{
  width: 16px;
  height: 16px;
  
  list-style-type: none;
}

nav li:not(:last-child){
  margin-bottom: 12px;
}

nav a{
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--white);
}

nav a[active]{
  background: var(--red);
}